.navbar-header {
    font-family: 'Fugaz One', cursive;
    position: initial;
    color: #000;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
}
.logo {
    background: url("../images/dog2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}