.navbar-header {
    font-family: 'Fugaz One', cursive;
    position: initial;
    color: #000;
    width: 100%;
    padding-right: 15px;
    padding-left: 0px;
}
.logo {
    background: url("../images/dogonhols.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/* background image to cover whole page*/
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
/* this was found on css-tricks.com via stack overflow*/
div#map {min-height: 360px;}

.bg-color-contact {
    background-color: #ffffff;
}